{% extends "base.html" %}
{% block title %}
    Download
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-10">
            <form class="download_form" action="{{ url_for('download_page') }}" method="post">
                <div class="input-group">
                    <input type="text" name = address class="form-control" id = "url" placeholder="Input you url">
      <span class="input-group-btn">
        <button class="btn btn-default" name = action type="submit" id = "submit">Go!</button>
      </span>
                </div><!-- /input-group -->
            </form>
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
{% endblock %}